<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.example.listners.ScreenshotListener"/>
        <listener class-name="org.example.listners.RetryListner">

        </listener>
    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/Navaneeth H K/IdeaProjects/Amazon">
        <classes>
            <class name="org.example.tests.Actualtests.Logintoapp">
            </class>
        </classes>
    </test>
</suite>